/packages/FluentAssert.1.0.0.11/FluentAssert.1.0.0.11.nupkg
/packages/FluentAssert.1.0.0.11/FluentAssert.1.0.0.11.nuspec
/packages/FluentAssert.1.0.0.11/content/FluentAssert.License.txt
/packages/FluentAssert.1.0.0.11/content/FluentAssert.Provenance.txt
/packages/FluentAssert.1.0.0.11/content/FluentAssert.xml
/packages/FluentAssert.1.0.0.11/lib/FluentAssert.dll
/packages/FluentAssert.1.0.0.11/lib/FluentAssert.pdb
/packages/NUnit.2.6.4/NUnit.2.6.4.nupkg
/packages/NUnit.2.6.4/lib/nunit.framework.dll
/packages/NUnit.2.6.4/lib/nunit.framework.xml
/packages/NUnit.2.6.4/license.txt
/tests/BatchGuy.Unit.Tests/bin/Debug/BatchGuy.App.exe
/tests/BatchGuy.Unit.Tests/bin/Debug/BatchGuy.App.pdb
/tests/BatchGuy.Unit.Tests/bin/Debug/BatchGuy.Unit.Tests.dll
/tests/BatchGuy.Unit.Tests/bin/Debug/BatchGuy.Unit.Tests.pdb
/tests/BatchGuy.Unit.Tests/bin/Debug/FluentAssert.dll
/tests/BatchGuy.Unit.Tests/bin/Debug/FluentAssert.pdb
/tests/BatchGuy.Unit.Tests/bin/Debug/nunit.framework.dll
/tests/BatchGuy.Unit.Tests/bin/Debug/nunit.framework.xml
/tests/BatchGuy.Unit.Tests/obj/Debug/BatchGuy.Unit.Tests.csproj.FileListAbsolute.txt
/tests/BatchGuy.Unit.Tests/obj/Debug/BatchGuy.Unit.Tests.csprojResolveAssemblyReference.cache
/tests/BatchGuy.Unit.Tests/obj/Debug/BatchGuy.Unit.Tests.dll
/tests/BatchGuy.Unit.Tests/obj/Debug/BatchGuy.Unit.Tests.pdb
/tests/BatchGuy.Unit.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/tests/BatchGuy.Unit.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/tests/BatchGuy.Unit.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/tests/BatchGuy.Unit.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/tests/BatchGuy.Unit.Tests/FluentAssert.License.txt
/tests/BatchGuy.Unit.Tests/FluentAssert.Provenance.txt
/tests/BatchGuy.Unit.Tests/FluentAssert.xml
/src/BatchGuy.App/bin/Debug/AviSynthBatchScriptCreator.App.vshost.exe.config
/src/BatchGuy.App/bin/Debug/AviSynthBatchScriptCreator.App.vshost.exe.manifest
/src/BatchGuy.App/bin/Debug/BatchGuy.App.exe
/src/BatchGuy.App/bin/Debug/BatchGuy.App.exe.config
/src/BatchGuy.App/bin/Debug/BatchGuy.App.pdb
/src/BatchGuy.App/bin/Debug/BatchGuy.App.vshost.exe
/src/BatchGuy.App/bin/Debug/BatchGuy.App.vshost.exe.config
/src/BatchGuy.App/obj/Debug/BatchGuy.App.Properties.Resources.resources
/src/BatchGuy.App/obj/Debug/BatchGuy.App.csproj.FileListAbsolute.txt
/src/BatchGuy.App/obj/Debug/BatchGuy.App.csproj.GenerateResource.Cache
/src/BatchGuy.App/obj/Debug/BatchGuy.App.exe
/src/BatchGuy.App/obj/Debug/BatchGuy.App.pdb
/src/BatchGuy.App/obj/Debug/BatchGuy.CreateAVSFilesForm.resources
/src/BatchGuy.App/obj/Debug/BatchGuy.MainForm.resources
/src/BatchGuy.App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/BatchGuy.App/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/src/BatchGuy.App/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/BatchGuy.App/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/BatchGuy.App/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BatchGuy.v11.suo
/src/BatchGuy.App/obj/Debug/BatchGuy.App.CreateEAC3ToBatchForm.resources
/src/BatchGuy.App/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/src/BatchGuy.App/obj/Debug/BatchGuy.App.CreateAVSFilesForm.resources
/src/BatchGuy.App/bin/Debug/BatchGuy.App.vshost.exe.manifest
/src/BatchGuy.App/bin/Release/BatchGuy.App.exe
/src/BatchGuy.App/bin/Release/BatchGuy.App.exe.config
/src/BatchGuy.App/bin/Release/BatchGuy.App.pdb
/src/BatchGuy.App/bin/Release/BatchGuy.App.vshost.exe
/src/BatchGuy.App/bin/Release/BatchGuy.App.vshost.exe.config
/src/BatchGuy.App/bin/Release/BatchGuy.App.vshost.exe.manifest
/src/BatchGuy.App/obj/Release/BatchGuy.App.CreateAVSFilesForm.resources
/src/BatchGuy.App/obj/Release/BatchGuy.App.CreateEAC3ToBatchForm.resources
/src/BatchGuy.App/obj/Release/BatchGuy.App.Properties.Resources.resources
/src/BatchGuy.App/obj/Release/BatchGuy.App.csproj.FileListAbsolute.txt
/src/BatchGuy.App/obj/Release/BatchGuy.App.csproj.GenerateResource.Cache
/src/BatchGuy.App/obj/Release/BatchGuy.App.exe
/src/BatchGuy.App/obj/Release/BatchGuy.App.pdb
/src/BatchGuy.App/obj/Release/BatchGuy.MainForm.resources
/src/BatchGuy.App/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/src/BatchGuy.App/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/src/BatchGuy.App/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/BatchGuy.App/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/BatchGuy.App/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/tests/BatchGuy.Unit.Tests/bin/Release/BatchGuy.App.exe
/tests/BatchGuy.Unit.Tests/bin/Release/BatchGuy.App.pdb
/tests/BatchGuy.Unit.Tests/bin/Release/BatchGuy.Unit.Tests.dll
/tests/BatchGuy.Unit.Tests/bin/Release/BatchGuy.Unit.Tests.pdb
/tests/BatchGuy.Unit.Tests/bin/Release/FluentAssert.dll
/tests/BatchGuy.Unit.Tests/bin/Release/FluentAssert.pdb
/tests/BatchGuy.Unit.Tests/bin/Release/nunit.framework.dll
/tests/BatchGuy.Unit.Tests/bin/Release/nunit.framework.xml
/tests/BatchGuy.Unit.Tests/obj/Release/BatchGuy.Unit.Tests.csproj.FileListAbsolute.txt
/tests/BatchGuy.Unit.Tests/obj/Release/BatchGuy.Unit.Tests.csprojResolveAssemblyReference.cache
/tests/BatchGuy.Unit.Tests/obj/Release/BatchGuy.Unit.Tests.dll
/tests/BatchGuy.Unit.Tests/obj/Release/BatchGuy.Unit.Tests.pdb
/tests/BatchGuy.Unit.Tests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/tests/BatchGuy.Unit.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/tests/BatchGuy.Unit.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/tests/BatchGuy.Unit.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BatchGuy.v12.suo
/src/BatchGuy.App/obj/Debug/BatchGuy.App.CreateX264BatFileForm.resources
/src/BatchGuy.App/obj/Debug/BatchGuy.App.csprojResolveAssemblyReference.cache
/src/BatchGuy.App/obj/Release
/tests/BatchGuy.Unit.Tests/obj/Debug/build.force
/src/BatchGuy.Parser.Console.App/bin/Debug/BatchGuy.Parser.Console.App.exe
/src/BatchGuy.Parser.Console.App/bin/Debug/BatchGuy.Parser.Console.App.exe.config
/src/BatchGuy.Parser.Console.App/bin/Debug/BatchGuy.Parser.Console.App.pdb
/src/BatchGuy.Parser.Console.App/bin/Debug/BatchGuy.Parser.Console.App.vshost.exe
/src/BatchGuy.Parser.Console.App/bin/Debug/BatchGuy.Parser.Console.App.vshost.exe.config
/src/BatchGuy.Parser.Console.App/bin/Debug/BatchGuy.Parser.Console.App.vshost.exe.manifest
/src/BatchGuy.Parser.Console.App/obj/Debug/BatchGuy.Parser.Console.App.csproj.FileListAbsolute.txt
/src/BatchGuy.Parser.Console.App/obj/Debug/BatchGuy.Parser.Console.App.exe
/src/BatchGuy.Parser.Console.App/obj/Debug/BatchGuy.Parser.Console.App.pdb
/src/BatchGuy.Parser.Console.App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/BatchGuy.Parser.Console.App/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/BatchGuy.Parser.Console.App/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/BatchGuy.Parser.Console.App/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
