*.suo
*.user

/src/.vs

/src/packages/*
!/src/packages/repositories.config

/publish/*
!/publish/ilmerge.bat

src/BatchGuy.App/bin
src/BatchGuy.App/obj

/src/BatchGuy.Eac3to.Parser.Example.Console.App/bin
/src/BatchGuy.Eac3to.Parser.Example.Console.App/obj

/src/BatchGuy.Settings.Serialization.Example.Console.App/bin
/src/BatchGuy.Settings.Serialization.Example.Console.App/obj

/src/BatchGuy.X264Log.Parser.Example.Console.App/bin
/src/BatchGuy.X264Log.Parser.Example.Console.App/obj

/src/tests/BatchGuy.Unit.Tests/bin
/src/tests/BatchGuy.Unit.Tests/obj